body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    width: 60%;
    margin: 0 auto;
    background-color: #f4d1a1;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info {
    background-color: #b5e2e1;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
}

h3 {
    margin: 0;
    font-size: 18px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    border-radius: 40%;
    cursor: pointer;
}

.datetime {
    background-color: #fff;
    padding: 10px;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.datetime p {
    font-size: 20px;
    margin: 0;
    color: #333;
}
